body {
  background-color: rgb(102, 102, 102);
  font-family: arial;
  color: rgb(130, 120, 189);
  font-size: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item {
  text-align: center;
}

@keyframes spinType {
  0% {
    transform: rotate(0.5turn);
  }
  60% {
    transform: rotate(0.7turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes ShapesSpin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes fade {
  0% {
    opacity: 5;
  }
  100% {
    opacity: 0;
  }
}

#Shapes {
  animation: ShapesSpin 5s linear infinite;
  height: 200px;
}

#Shapes:hover {
  animation-play-state: paused;
  cursor: pointer;
}

/*basic animation, spins once in one second*/
div.item {
  animation: spinType 5s;
}
