#amoeba {
  background-color: rgb(131, 38, 54);
  font-family: arial;
  color: rgb(38, 0, 255);
  font-size: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item {
  text-align: center;
}
