body {
  background-color: black;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  padding: 200px 250px;
  border-radius: 900px;
  background-color: rgb(28, 71, 34);
  text-align: center;
  transition: all 100ms;
}

.button:hover {
  background-color: #3c6e37;
  cursor: pointer;
  transform: skewx(30deg);
}

.buttonOn {
  background-color: rgb(175, 68, 68);
  color: rgb(255, 255, 255);
  transform: skewY(-50deg);
}

.light {
  background-color: rgb(51, 126, 61);
}
