body {
  background-color: black;
}

.example {
  color: white;
  font-size: 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.example:hover {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(221, 221, 221), 0 0 82px rgb(248, 248, 248),
    0 0 92px rgb(185, 185, 185), 0 0 102px rgb(235, 235, 235),
    0 0 151px rgb(240, 240, 240);
}
.example:hover {
  cursor: pointer;
}

img {
  max-width: 500px;
}

img:hover {
  max-width: 100px;
}
div {
  font-size: 100px;
}
